.app {
  display: flex;
  min-width: 300px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 90vh;
  margin: 0 auto;
  text-align: center;
  
& h1 {
    color: tomato;
    font-size: 4rem;
    margin-bottom: 6rem;
  }
}
