.controls {
  width: 50%;
  margin-top: 3rem;
  display: flex;

  @media screen and (max-width: 600px) {
    width: 85%;
  }
}

#start_stop,
#reset {
  background: transparent;
  font-size: 3rem;
  color: tomato;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: white;
  }

  &:active {
    transform: scale(1.2);
  }
}

#start_stop {
  margin-right: auto;
}
